# Solar System Suite - Fedora/RHEL/CentOS Dependencies
# Install with: xargs -a requirements-fedora.txt sudo dnf install -y

cmake
gcc-c++
openssl-devel
libcurl-devel
zlib-devel
boost-devel
cairo-devel
libpng-devel
grpc-devel
protobuf-devel
protobuf-compiler
